@model Studentski_dom.Models.PrijavaStudenta

@{
    ViewData["Title"] = "PregledPrijaveUDom";
}

<h1>Pregled podataka</h1>
<body background="css/assets/img/pozadina1.jpg">
</body>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JMBG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JMBG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdresaStanovanja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdresaStanovanja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fakultet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fakultet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GodinaStudiranja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GodinaStudiranja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CiklusStudija)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CiklusStudija)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojIndeksa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojIndeksa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <!--

           <dt class="col-sm-2">
           
           </dt>

       <dd class = "col-sm-10">
          
       </dd>-->
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrijavaStudentaID">Izmijeni</a> |
    @if (User.IsInRole("Uposlenik uprave"))
    {
    <a asp-action="Index">Back to List</a>
    }
</div>
