@model Studentski_dom.Models.PrijavaKvara

@{
    ViewData["Title"] = "Delete";
}



<h3>Jeste li sigurni da želite obrisati ovu prijavu?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipKvara)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipKvara)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpisKvara)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpisKvara)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemePrijave)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VrijemePrijave)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HitanKvar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HitanKvar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rijeseno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rijeseno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PrijavaKvaraID" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
