@model IEnumerable<Studentski_dom.Models.PrijavaKvara>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled prijava kvara</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipKvara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpisKvara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemePrijave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitanKvar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rijeseno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.PrijavaStudenta.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipKvara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisKvara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemePrijave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitanKvar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rijeseno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrijavaKvaraID">Promijeni</a> |
               
                <a asp-action="Delete" asp-route-id="@item.PrijavaKvaraID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
