@model IEnumerable<Studentski_dom.Models.PrijavaKvara>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled prijava kvarova</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Uposlenik uprave") || User.IsInRole("Šef tehničkog održavanja"))
            {
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentID)
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.TipKvara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpisKvara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemePrijave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitanKvar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rijeseno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (User.IsInRole("Uposlenik uprave") || User.IsInRole("Šef tehničkog održavanja"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentID)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.TipKvara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisKvara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemePrijave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitanKvar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rijeseno)
            </td>
            @if (User.IsInRole("Šef tehničkog održavanja"))
            {
                <td>

                    <a asp-action="Edit" asp-route-id="@item.PrijavaKvaraID">Izmijeni</a> |
                    <a asp-action="Delete" asp-route-id="@item.PrijavaKvaraID">Obriši</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
