@model Studentski_dom.Models.Soba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Soba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojSobe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojSobe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zauzeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zauzeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sprat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sprat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SobaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
